* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  background-color: #f3eeee;
  height: 100vh;
}

.banner {
  width: 40%;
  position: relative;
  display: flex;
  text-align: center;
}

.banner img {
  width: 100%;
}

.banner::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner h1 {
  position: absolute;
  color: white;
  top: 50%;
  width: 100%;
}

.banner p {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
}

.main-content {
  width: 60%;
}

.main-content h1 {
  margin: 1rem;
}

.main-text {
  height: 25vh;
  display: flex;
  align-items: center;
}

.form-content {
  background-color: white;
  padding: 1rem;
  min-height: 30vh;
  box-shadow: 10px 5px 5px rgb(176, 176, 176);
}

.fields {
  display: flex;
  margin-top: 1rem;
  gap: 5rem;
}

label {
  display: block;
  font-weight: 600;
}

.form-field {
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem 0.3rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 5px;
}

input:focus {
  outline: none;
  border-color: blue;
}

:user-invalid {
  border-color: red;
}

.form-interaction {
  padding: 2rem 1rem;
}

button {
  background-color: #df7410;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
}

button:hover {
  background-color: #e6903f;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #df7410;
  font-weight: 600;
}
